@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
  --accent: #7D48BA;
  --primary: #4444EC;
  --secondary: #75DDDD;

  --white: #F5F5F5;

  --grey-400: #6B6B6B;

  --blue-500: #4A4A81;
  --blue-600: #303057;
  --blue-800: #1E1E39;
  --blue-900: #1E1E2F;

}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: .6rem;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-400);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}


body {
  font-family: 'Poppins', Arial, Inter, system-ui, Avenir, Helvetica, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--blue-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
